.main {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  height: 100dvh;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.scrollIndicator {
  z-index: 2;
  position: fixed;
  right: 20px;
  top: 50vh;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.scrollIndicator__button {
  padding: 5px;
  background-color: #636466;
  border: 1px solid black;
  border-radius: 50%;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
  }
}

.scrollIndicator__buttonActive {
  padding: 7px;
  background-color: #c3c3c3;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
