* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  overflow: hidden;
  height: 100dvh;
  background-color: #393e41;
  color: #fff;
  scroll-behavior: smooth;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  height: 100dvh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
